*.o
*.lo*
*.a
*.la
*.sw?
.deps
.libs
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure
libtool
gtk-doc.make
wsvg.pc
stamp-*

tags
TAGS

# GTest reports
*-report.xml
*-report.html

install-sh
missing

